/tester.py
*.pyc
*.pyo
*.pyproj

/display.py

/download_station.png

/film.png

/script.dstasks.v12.suo
/tv.png
/unsorted.py
/xbmc-keycodes.txt

/xbmc-dstasks.sln
/xbmc-dstasks.v12.suo

/xbmc-dstasks.pyproj.user
